<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dear Diary</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    </head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Favorites
                </h1>
                <a href="{% url 'about' %}"><h2>Why?</h2></a>
                <a href="{% url 'home' %}"><h2>Dear Diary</h2></a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                            {% for i in data%}
                            <br>
                            {{i.text}}
                            <br>
                            {{i.date_posted}}
                            <hr>
                            {% endfor %}
                            </p>
                        </div>
                    </div>
            </article>

        </div>

    </section>
    <footer class="footer">
    </footer>
</body>
</html>